.cocaine {
  background: #555;
  border: 1px solid #555;
  -webkit-border-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 10px;
  -moz-border-radius-topleft: 0;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  /*width: 100px;*/
  z-index: 10;

  left: 600px;
}

.cocaine:before {
  width: 0;
  height: 0;
  /* Draw triangle */
  border-bottom: 40px solid #555;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  display: block;
  content: " ";
  position: absolute;
  -webkit-transform: rotate(-40deg) translateX(0px) translateY(-35px);
  transform: rotate(-40deg) translateX(0px) translateY(-35px);
  z-index: -1;
}



.cocaine * {
  box-sizing: border-box;
}
.cocaine > form {
  display: flex;
}

.cocaine__inhaler {
  background-color: transparent;
  border: 0;
  color: transparent;
  float: left;
  height: 1px;
  width: 1px;
}
.cocaine__inhaler:focus {
  border: 0;
  outline: none;
}


.cocaine__section {}
.cocaine__section-header {
  font-weight: 700;
  margin: 5px;
}
.cocaine__section-options {}

.cocaine__hidden-option {
  display: none;
}

.cocaine__label {
    display: inline-block;
    padding: 5px;
    text-align: left;
}

.cocaine__label:hover {
    background:#FF9E7C;
    cursor:pointer;
}

.cocaine__label input[type="radio"] {
  visibility: hidden;
}

.cocaine__keymark {
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: inline-block;
  height: 1.5em;
  /*padding: 5px;*/
  margin-right: 5px;
  padding-top: 3px;
  text-align: center;
  text-transform: uppercase;
  width: 1.5em;
}